<!DOCTYPE html>
<!--
  # Function showform controls visibility of different sections. Helper functions that use showform are implemented as well.
  # Date: 12/11/2023
  # Originality: Adapted from stackoverflow. Recycled the function to suit the needs for the page.
  # Source URL: https://stackoverflow.com/questions/14681660/show-form-elements-using-javascript
   -->
<html>
<head>
<title>Customer Services</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
   // Function to control the visibility of different sections
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newCustomerService() { showform('insert'); }
    function updateCustomerService(pid) { showform('update'); }
    function deleteCustomerService(pid) { showform ('delete'); }
    function browseCustomerService() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseCustomerService()">
<h1>Customer Services</h1>
<nav>
    <!-- Navigation Links -->
    [ <a href="/users">Users</a> | <a href="/appliances">Appliances</a> | <a href="/ota_updates">OTA_Updates</a>  | <a href="/customerservices">CustomerServices</a> | <a href="/ota_updatesappliances">OTA_UpdatesAppliances</a>  ]
    </nav>

<!-- Browse Section -->  
<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>

<!-- Handlebars templateing to create the table in the database -->
<table border="1" cellpadding="5" id="csTable">
  <!-- Table Headers -->
  <tr>
    <th>Edit</th> <!-- Header is for the Edit link -->
    <th>Delete</th> <!-- Header is for the Delete button -->
    <th>Service ID</th>
    <th>User ID</th>
    <th>Appliance ID</th>
    <th>Issue Description</th>
    <th>Date Reported</th>
    <th>Resolution Status</th>
  </tr>
  <!-- Dynamically Generated Table Rows -->
  {{#each csData}}
    <!-- User Data Rows -->
  <tr data-value="{{this.serviceID}}">
    <td><a href="#" onClick="updateCustomerService('this.serviceID')">Edit</a></td>
    <td><button href="#" onclick="deleteCS('{{this.serviceID}}')">Delete</button></td>
    <td align="right" >{{this.serviceID}}</td>
    <td >{{this.userID}}</td>
    <td align="right" >{{this.applianceID}}</td>
    <td>{{this.issueDescription}}</td>
    <td>{{this.dateReported}}</td>
    <td>{{this.resolutionStatus}}</td>
  </tr>
  {{/each}}
</table>
<script src="./js/delete_customerService.js"></script>
</div>

<!-- Insert Section --> 
<div id="insert">
    <form method="POST" id="addCustomerService">
        <legend><strong>Add Customer Service</strong></legend>
          <fieldset class="fields">
            <label> User ID </label>
          <select name="userID" value="1001" id="customerInput">
            {{#each usersData}}
                <option value="{{this.userID}}">{{this.userID}} {{this.name}}</option>
            {{/each}}
          </select>
            <label> Appliance ID </label> 
            <select name="applianceID" value="2001" id="customerAppliance">
              <option value="0">&nbsp;</option>
              {{#each appliancesData}}
                <option value="{{this.applianceID}}">{{this.applianceID}}</option>
              {{/each}}
            </select>
            <label> Issue Description </label> <input type="text" id="issueDescription">
            <label> Date Reported </label> <input type="date" id="dateReported">
            <label> Resolution Status </label> <select id="csStatus">
                <option value="0">&nbsp;</option>
                <option value="1">resolved</option>
                <option value="2">pending</option>
                <option value="3">escalated</option>
                </select>
      </fieldset>
          <input class="btn" type="submit" id="addCustomerService" value="Add Customer Service">
	</form> 
    <script src="./js/add_customerService.js"></script>
</div>

<!-- Update Section -->
<div id="update">
    <form method="POST" id="update-services-form-ajax">
        <legend><strong>Update Customer Service</strong></legend>
          <fieldset class="fields">
          <label> Service ID: </label>
          <select name="serviceID" id="serIDSelect">
            {{#each csData}}
              <option value="{{this.serviceID}}">{{this.serviceID}}</option>
            {{/each}}
          </select>
          <label> Resolution Status: </label> 
          <select id="csUpStatus">
            <option value="0">&nbsp;</option>
            <option value="1">resolved</option>
            <option value="2">pending</option>
            <option value="3">escalated</option>
          </select>
       </fieldset>
          <input class="btn" type="submit" id="UpdateSaveCustomerService" value="Save Update CustomerService">
          <input class="btn" type="button" value="cancel" onClick="browseCustomerService()">
	</form> 
  <script src="./js/update_customerService.js"></script>
</div>
</body>
</html>
