<html>
<head>
<title>OTA_UpdatesAppliances</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newOTA_UpdateAppliance() { showform('insert'); }
    function updateOTA_UpdateAppliance(pid) { showform('update'); }
    function deleteOTA_UpdateAppliance(pid) { showform ('delete'); }
    function browseOTA_UpdateAppliance() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseOTA_UpdateAppliance()">
<h1>OTA Updates Appliances</h1>
<nav>
    [ <a href="/users">Users</a> | <a href="/appliances">Appliances</a> | <a href="/ota_updates">OTA_Updates</a>  | <a href="/customerservices">CustomerServices</a> | <a href="/ota_updatesappliances">OTA_UpdatesAppliances</a>  ]
    </nav>
<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>

<table border="1" cellpadding="5" id="OTA_UpApTable">
  <tr>
    <th><a href="#" onClick="newOTA_UpdateAppliance()">New</a></th>
    <th>OTA Updates Update</th>
    <th>Appliances Appliance ID</th>
  </tr>
  {{#each UppApp}}
  <tr data-value='{{this.otaUpdatesUpdateID}},{{this.appliancesApplianceID}}'>
    <td><button onclick="deleteUpApp({{this.otaUpdatesUpdateID}},{{this.appliancesApplianceID}})">Delete</button></td>
    <td>{{this.otaUpdatesUpdateID}}</td>
    <td>{{this.appliancesApplianceID}}</td>
  </tr>
  {{/each}}
</table>
<script src="./js/delete_ota_updatesAppliances.js"></script>


<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addOTA_UpdateAppliance">
        <legend><strong>Add OTA_UpdateAppliance</strong></legend>
          <fieldset class="fields">
            <label> OTA Updates Update: </label> 
            <select name="otaUpdatesUpdateID" id="otaUpUpSelect">
                {{#each otaUpUpData}}
                    <option value="{{this.updateID}}"> {{this.updateID}} {{this.updateVersion}}</option>
                {{/each}}
            </select>
            <label> Appliances Appliance ID </label> 
            <select name="appliancesApplianceID" id="otaAppAppSelect">
                {{#each otaAppAppData}}
                    <option value="{{this.applianceID}}">{{this.applianceID}} {{this.model}}</option>
                {{/each}}
            </select> 
            </fieldset>
          <input class="btn" type="submit" id="addOTA_UpdateAppliance" value="Add OTA_UpdateAppliance">
          <input class="btn" type="button" value="cancel" onClick="browseOTA_UpdatesAppliances()">
	</form>
    <script src="./js/add_ota_updatesAppliances.js"></script> 
</div><!-- insert -->

<!--
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form method="POST" id="deleteOTA_UpdateAppliance">
      <legend><strong>Delete OTA_UpdateAppliance</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <input type="hidden" name="otaUpdatesUpdateID" id="deleteotaUpdatesUpdateID" value="3001">
          <label><strong>OTA Updates Update: </strong></label> 3001
            <label> <strong>Appliances Appliance ID: </strong> </label> 2001
            
    </fieldset>
    <input class="btn" type="submit" id="DeleteOTA_UpdateAppliance" value="Delete OTA_UpdateAppliance">
          <input class="btn" type="button" value="cancel" onClick="browseOTA_UpdatesAppliances()">
  </form> 
</div>delete -->

</body>
</html>
